<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit A Monster</title>
  </head>
  <body>
    <div class="container">
      <h3><a href="/monsters">Monster List</a></h3>
      <h5>This is Edit One Monster.ejs</h5>
      <h2>Edit A Monster: <%=monster.name%></h2>

      <form action="/monsters/update/<%= monster._id%>" method="post">
        Monster Name:
        <input type="text" name="name" value="<%= monster.name%>" />
        <br />
        Number Appearing:
        <input
          type="text"
          name="number_appearing"
          value="<%= monster.number_appearing%>"
        />
        <br />
        Alignment
        <input type="text" name="alignment" value="<%= monster.alignment%>" />
        <br />
        Hit Dice:
        <input type="text" name="hit_dice" value="<%= monster.hit_dice%>" />
        <br />
        Type: <input type="text" name="type" value="<%= monster.type%>" />
        <br />
        <!-- Frequency:
        <input type="text" name="frequency" value="<%= monster.frequency%>" /> -->
        <br />
        <fieldset>
          <legend>Frequency:</legend>
          <input type="radio" name="frequency" value="common" />
          Common
          <input type="radio" name="frequency" value="uncommon" />Uncommon
          <input type="radio" name="frequency" value="rare" /> Rare
          <input type="radio" name="frequency" value="very rare" /> Very Rare
          <input type="radio" name="frequency" value="unique" /> Unique
          </fieldset>
        <!-- Habitat:
        <input type="text" name="habitat" value="<%= monster.habitat%>" />
        <br /> -->
        <br />
        <fieldset>
          <legend>Habitat (Select all that apply)</legend>
          <input type="checkbox" name="habitat" value="underground" />
          Underground
          <input type="checkbox" name="habitat" value="frigid" />Frigid
          <input type="checkbox" name="habitat" value="desert" /> Desert
          <input type="checkbox" name="habitat" value="mountain" /> Mountain
          <input type="checkbox" name="habitat" value="settlement" /> Settlement
          <input type="checkbox" name="habitat" value="forest" /> Forest
          <input type="checkbox" name="habitat" value="jungle" /> Jungle
          <input type="checkbox" name="habitat" value="swamp" /> Swamp
          <input type="checkbox" name="habitat" value="steppe" /> Steppe
          <input type="checkbox" name="habitat" value="savanna" /> Savanna
          <input type="checkbox" name="habitat" value="outer plane" /> Outer
          Plane
        </fieldset>
        <br />
        <button type="submit" value="Save">Save</button>
      </form>
    </div>
  </body>
</html>
